
.page-head {
    font-size: var(--txt-225);
    padding: 1rem;
    color: var(--truegray200);
}
  
.page-layout {
    width: 70%;
    margin: 0rem auto;
}
  
.page-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0rem auto;
    justify-content: space-evenly;
}

.empty-container {
    font-size: 2rem;
    opacity: 0.6;
    margin: 2rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.btn-empty {
    font-size: 1.5rem;
    border: none;
    outline: none;
    color: var(--truegray400);
    cursor: pointer;
  }

@media screen and (max-width:600px){
    .page-head {
        font-size: var(--txt-175);
    }
    
    .page-layout {
        width: auto;
    }
    
    .page-container {
        padding: 0rem;
        margin: 0rem;
        width: auto;
    }
}