.profile-block {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
}

.profile-img {
  margin: 1rem auto;
}

.user-img {
  height: 200px;
  width: 200px;
}

.profile-name {
  font-size: var(--txt-175);
  margin: 0.5rem auto;
  color: var(--txt-light);
}

.link-edit {
  font-size: 1rem;
  color: #0284c7;
  margin: 0.5rem auto;
}

.link-edit span:hover {
  cursor: pointer;
  text-decoration: underline;
}

hr {
  margin: 1rem auto;
  background-color: gray;
  width: 12%;
}

.profile-location,
.profile-contact,
.profile-mail {
  font-size: var(--txt-125);
  color: var(--txt-light-secondary);
  margin: 0rem auto 0.5rem auto;
  border-bottom: 1px solid gray;
  padding-bottom: 0.5rem;
  width: 250px;
  overflow: hidden;
  white-space: no-wrap;
  text-overflow: ellipsis;
}

.txt-empty {
  color: #0284c7;
}

.profile-info-img {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  top: 0.1em;
  margin: 0rem 1rem;
}

.btn-logout {
  font-size: var(--txt-15);
  color: whitesmoke;
  margin: 2rem auto;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.35rem 1rem;
  background-color: #ef4444;
  width: 200px;
}

@media screen and (max-width: 600px) {
  .profile-name {
    font-size: var(--txt-15);
  }

  hr {
    width: 50%;
  }
}
