@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
    --bg-dark: #262626;
    --bg-nav: #3f3f46;
    --bg-footer: #171717;
    --txt-light: #e5e5e5;
    --txt-light-secondary: #a3a3a3;
    --txt-225: 2.25rem;
}

.App{
    font-family: "Oswald", sans-serif;
}
  
body {
    background-color: var(--bg-dark);
    margin: 0rem;
    padding: 0rem;
}
  
.toast-class {
    width: 90%;
}
  
